<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <jmxConfigurator/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="light.pay" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>